<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.kopo.jeonse.domain.jeonse.mapper.JeonseMapper">
    <select id="selectRemainJeonse" resultType="kr.ac.kopo.jeonse.domain.jeonse.domain.Jeonse">
        SELECT * FROM naver_real_estate
        WHERE address = #{address} and
        atclnm = #{aptName}
    </select>

    <select id="getJeonseList" resultType="kr.ac.kopo.jeonse.domain.jeonse.domain.Jeonse">
        SELECT * FROM naver_real_estate
        WHERE
            tradtpnm = '전세' and
            bildnm is not null and
            address like '%${address}%'
    </select>

    <select id="selectJeonseByAtclNo" resultType="kr.ac.kopo.jeonse.domain.jeonse.domain.Jeonse">
        SELECT * FROM naver_real_estate
        WHERE atclno = #{atclNo}
    </select>

    <select id="findJeonseRateByAtclNo" resultType="kr.ac.kopo.jeonse.domain.jeonse.dto.JeonseRateDto">
        WITH TBL AS (select address
                     from (SELECT address
                           FROM NAVER_REAL_ESTATE
                           WHERE ATCLNO = '${atclNo}')
                     where ROWNUM = 1),
             JEONSE AS (SELECT PRC
                        FROM (SELECT *
                              FROM NAVER_REAL_ESTATE
                              WHERE ADDRESS = (select address from tbl)
                                AND TRADTPNM = '전세'
                              ORDER BY PRC)
                        WHERE ROWNUM = 1),
             MAEMAE AS (SELECT PRC
                        FROM (SELECT *
                              FROM NAVER_REAL_ESTATE
                              WHERE ADDRESS = (select address from tbl)
                                AND TRADTPNM = '매매'
                              ORDER BY PRC)
                        WHERE ROWNUM = 1)
        SELECT (SELECT PRC FROM JEONSE) as jeonse_price,
               (SELECT PRC FROM MAEMAE) as maemae_price,
               TO_CHAR( (SELECT PRC FROM JEONSE) / (SELECT PRC FROM MAEMAE) * 100, 'FM99999999')  as rate
        FROM DUAL
    </select>

    <select id="getBusStops" resultType="kr.ac.kopo.jeonse.domain.jeonse.domain.BusStop">
        SELECT title, latitude, longitude
        FROM BUS_STOP_location
        WHERE ADDRESS like '%${gu}%'
    </select>

    <select id="getGroceries" resultType="kr.ac.kopo.jeonse.domain.jeonse.domain.Grocery">
        SELECT business_name, latitude, longitude
        FROM grocery_store
        WHERE location_ADDRESS like '%${gu}%'
    </select>

    <select id="getPoliceStations" resultType="kr.ac.kopo.jeonse.domain.jeonse.domain.PoliceStation">
        SELECT name, gubun, latitude, longitude
        FROM police_station
        WHERE ADDRESS like '%${gu}%'
    </select>

    <select id="getSchools" resultType="kr.ac.kopo.jeonse.domain.jeonse.domain.School">
        SELECT school_name, latitude, longitude
        FROM school
        WHERE location_address_road like '%${gu}%'
    </select>

    <select id="getPrimeRate" resultType="float">
        SELECT ROUND((arrest / occur) * 100, 3) AS arrest_rate
        FROM crime_rate
        WHERE gu like '%${gu}%'
    </select>
</mapper>